/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
	background-color: #e8e8e8;
	max-width: 60%;
	margin: 0 auto;
}

.navigation {
display: flex;
justify-content: space-around;
border: 2px solid black;
padding: 5px;
}

.navigation__item {
border: 1px solid black;
padding: 5px;


}

.navigation__item:hover {
	color: white;
background-color: rgba(1, 0, 50, 0.5);
}


.navigation__item_color {
color: black;
}

.navigation__item_color:hover {
color: white;
}


.cources {
	display: flex;
	justify-content: space-around;
	margin: 20px 0 0 0;
	flex-wrap: wrap;
}

.cources__group {
	border: 2px solid black;
	max-width: 400px;
	max-height: 400px;
	border-radius: 30px;
	margin: 0 0 20px 0;
	box-shadow: 0 0 1px;
	}

.study-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 10px;
}

.study-list__item {

	border: 2px solid black;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	min-width: 100px;
	min-height: 40px;
	max-width: 100px;
	max-height: 50px;
	text-align: center;

}

.study-list__item:hover {
	background-color: red;
	box-shadow: 0 0 1px;

}

.study-list__item_color:hover {
color: white;

}

.group-title {
	text-align: center;
	margin: 0 0 5px 0;
	font-size: 20px;
}
